<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Identity Wallet</title>
    <meta name="description"
        content="Identity wallet secures your data autonomy while providing identity storage and retrieval services.">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico ">
    <link rel="canonical" href="http://www.identity-wallet.com">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css " rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/bs_leftnavi.css ">
    <link href="fonts/font-awesome/css/font-awesome.css " rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/jquery.mCustomScrollbar.css">
    <link href="css/master.1.6.css " rel="stylesheet">
    <link rel="stylesheet" href="css/media.1.2.css">
    <meta name="google-site-verification" content="P_hRPzLmP84EJrZaVwdBhGDvVR02nk7SsRGAEpYY9Fo" />
    <!--[if lt IE 9]>
<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    <!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<![endif]-->
    <!--[if lte IE 7]>
<html class="ie7"> <![endif]-->
    <!--[if IE 8]>
<html class="ie8"> <![endif]-->
    <!--[if IE 9]>
<html class="ie9"> <![endif]-->
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

    <!-- Global site tag (gtag.js) - Google Ads: 753858610 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-753858610"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'AW-753858610');
    </script>
</head>
<style>
    #background{
    
        background-color:#042444;
    }
</style>

<body class="homepage-body" id="background">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132533839-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-132533839-1');
    </script>


    <!--<script>-->
    <!--  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){-->
    <!--  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),-->
    <!--  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)-->
    <!--  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');-->
    <!---->
    <!--  ga('create', 'UA-100391813-1', 'auto');-->
    <!--  ga('send', 'pageview');-->
    <!---->
    <!--</script>-->

<nav class="navbar nav-text-white">
    <div class="container" style="border-radius:0px;display:flex; flex-direction: row; width:100%; background-color:#989898; height:70px">
        <!-- Brand and toggle get groupe for better mobile display -->
        <div style="display:flex;" style="border-radius:0px;">
            <img style="width:100%; height:100%; src="../images/investmeet.png">
            <p style="color:#042444;position:relative;top:-10px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:x-large;left:60px;flex-grow:1; opacity:100%;font-size:30px;padding-right:30px">InvestMeet</p>
        </div>
        <div class="collapse navbar-collapse" id="topnavbar" style="position:relative;top:8px;">
            <ul style = "display:flex; flex-direction: row; justify-content: left;  list-style: none;">
                    <li class="hello"><a href="index.html" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:#042444; font-size: 25px; padding-right:10px; padding-left:10px; padding-top:3px; padding-bottom:2px; text-decoration:none">Home <span class="sr-only"></span></a></li>
                        <li><a href="company_marketplace.html" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:#042444; font-size: 25px;padding:10px; text-decoration:none">Companies</a></li>
                        <li><a href="investors_marketplace.html" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:#042444; font-size: 25px;padding:10px; text-decoration:none">Investors</a></li>
                        <li><a href="company_rankings.html" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:#042444; font-size: 25px; padding-right:10px; padding-left:10px; text-decoration:none">Compare</a></li>
                        <li><a href="signup_page.html" style="text-align: right;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:#042444; font-size: 25px; position:relative; left: 550px; padding-right:10px; padding-left:10px;padding-top:3px;padding-bottom:2px;text-decoration:none; background-color: white; border-radius:15px">Sign Up</a></li>
                        <li><a href="member_login.html" style="text-align: right; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:#042444; font-size: 25px; position:relative; left: 560px;padding-right:10px; padding-left:10px;padding-top:3px;padding-bottom:2px; text-decoration:none">Log In</a></li>
                <!--<li><img src="../images/profile.png" alt="image not found" width="50%"></a></li>-->

            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

    <!-- to be fixed -->
    <script>
        var list_industries = JSON.parse($.ajax({type: "GET", url: "/list_industries/", async: false}).responseText);
        for (let i = 0; i < list_industries.length; i++) {
            var openEnderContent = "<option style=\"\">" + list_industries[i] +  "</option>"
        }
        $('#industry').html(openEnderContent);
        
    </script>

        
        <div style="width:100%;height:100%; top:40px;">
            <div style="text-align:center; padding-top:30px">
                <label style = "font-family:'Optima', sans-serif; font-size: x-large; color:white">Company Signup</label>
            </div>
            <div style="position:relative; left:25%; top:50%; width:100%">
                <br></br>
                <input type="text" id="name" name="name" placeholder="Name" style="border:0;border-bottom: 2px solid lightgrey; background-color: transparent; font-family: 'Optima', sans-serif; font-size:medium; width:25%; padding:10px;color:white; display:inline"/>
                <input type="text" id="email" name="email" placeholder="Email" style="border:0;border-bottom: 2px solid lightgrey; background-color: transparent; width:25%; font-family: 'Optima', sans-serif; font-size:medium; padding:10px;color:white; display:inline"/>
                <br></br>
                <input type="text" id="website" name="website" placeholder="Website" style="border:0;border-bottom: 2px solid lightgrey; background-color: transparent; width:25%; padding:10px;color:white; font-family: 'Optima', sans-serif; font-size:medium; display:inline"/>
                <select type="text" id="industry" name="industry" placeholder="Industry" style="border:0;border-bottom: 2px solid lightgrey; background-color: transparent; width:25%; opacity:0.5; padding:10px;color:white; font-family: 'Optima', sans-serif; font-size:medium; margin-top:20px;border:white 2px solid;color:white;display:inline"/>
                <option value="" disabled selected>Industry</option>
                <option value='accounting_'>Accounting </option>
                <option value='airlines/aviation'>Airlines/Aviation</option>
                <option value='alternative_dispute_resolution'>Alternative Dispute Resolution</option>
                <option value='alternative_medicine'>Alternative Medicine</option>
                <option value='animation'>Animation</option>
                <option value='apparel/fashion'>Apparel/Fashion</option>
                <option value='architecture/planning'>Architecture/Planning</option>
                <option value='arts/crafts'>Arts/Crafts</option>
                <option value='automotive'>Automotive</option>
                <option value='aviation/aerospace'>Aviation/Aerospace</option>
                <option value='banking/mortgage'>Banking/Mortgage</option>
                <option value='biotechnology/greentech'>Biotechnology/Greentech</option>
                <option value='broadcast_media'>Broadcast Media</option>
                <option value='building_materials'>Building Materials</option>
                <option value='business_supplies/equipment'>Business Supplies/Equipment</option>
                <option value='capital_markets/hedge_fund/private_equity'>Capital Markets/Hedge Fund/Private Equity</option>
                <option value='chemicals'>Chemicals</option>
                <option value='civic/social_organization'>Civic/Social Organization</option>
                <option value='civil_engineering'>Civil Engineering</option>
                <option value='commercial_real_estate'>Commercial Real Estate</option>
                <option value='computer_games'>Computer Games</option>
                <option value='computer_hardware'>Computer Hardware</option>
                <option value='computer_networking'>Computer Networking</option>
                <option value='computer_software/engineering'>Computer Software/Engineering</option>
                <option value='computer/network_security'>Computer/Network Security</option>
                <option value='construction'>Construction</option>
                <option value='consumer_electronics'>Consumer Electronics</option>
                <option value='consumer_goods'>Consumer Goods</option>
                <option value='consumer_services'>Consumer Services</option>
                <option value='cosmetics'>Cosmetics</option>
                <option value='dairy'>Dairy</option>
                <option value='defense/space'>Defense/Space</option>
                <option value='design'>Design</option>
                <option value='e-learning'>E-Learning</option>
                <option value='education_management'>Education Management</option>
                <option value='electrical/electronic_manufacturing'>Electrical/Electronic Manufacturing</option>
                <option value='entertainment/movie_production'>Entertainment/Movie Production</option>
                <option value='environmental_services'>Environmental Services</option>
                <option value='events_services'>Events Services</option>
                <option value='executive_office'>Executive Office</option>
                <option value='facilities_services'>Facilities Services</option>
                <option value='farming'>Farming</option>
                <option value='financial_services'>Financial Services</option>
                <option value='fine_art'>Fine Art</option>
                <option value='fishery'>Fishery</option>
                <option value='food_production'>Food Production</option>
                <option value='food/beverages'>Food/Beverages</option>
                <option value='fundraising'>Fundraising</option>
                <option value='furniture'>Furniture</option>
                <option value='gambling/casinos'>Gambling/Casinos</option>
                <option value='glass/ceramics/concrete'>Glass/Ceramics/Concrete</option>
                <option value='government_administration'>Government Administration</option>
                <option value='government_relations'>Government Relations</option>
                <option value='graphic_design/web_design'>Graphic Design/Web Design</option>
                <option value='health/fitness'>Health/Fitness</option>
                <option value='higher_education/acadamia'>Higher Education/Acadamia</option>
                <option value='hospital/health_care'>Hospital/Health Care</option>
                <option value='hospitality'>Hospitality</option>
                <option value='human_resources/hr'>Human Resources/HR</option>
                <option value='import/export'>Import/Export</option>
                <option value='individual/family_services'>Individual/Family Services</option>
                <option value='industrial_automation'>Industrial Automation</option>
                <option value='information_services'>Information Services</option>
                <option value='information_technology/it'>Information Technology/IT</option>
                <option value='insurance'>Insurance</option>
                <option value='international_affairs'>International Affairs</option>
                <option value='international_trade/development'>International Trade/Development</option>
                <option value='internet'>Internet</option>
                <option value='investment_banking/venture'>Investment Banking/Venture</option>
                <option value='investment_management/hedge_fund/private_equity'>Investment Management/Hedge Fund/Private Equity</option>
                <option value='judiciary'>Judiciary</option>
                <option value='law_enforcement'>Law Enforcement</option>
                <option value='law_practice/law_firms'>Law Practice/Law Firms</option>
                <option value='legal_services'>Legal Services</option>
                <option value='legislative_office'>Legislative Office</option>
                <option value='leisure/travel'>Leisure/Travel</option>
                <option value='library'>Library</option>
                <option value='logistics/procurement'>Logistics/Procurement</option>
                <option value='luxury_goods/jewelry'>Luxury Goods/Jewelry</option>
                <option value='machinery'>Machinery</option>
                <option value='management_consulting'>Management Consulting</option>
                <option value='maritime'>Maritime</option>
                <option value='market_research'>Market Research</option>
                <option value='marketing/advertising/sales'>Marketing/Advertising/Sales</option>
                <option value='mechanical_or_industrial_engineering'>Mechanical or Industrial Engineering</option>
                <option value='media_production'>Media Production</option>
                <option value='medical_equipment'>Medical Equipment</option>
                <option value='medical_practice'>Medical Practice</option>
                <option value='mental_health_care'>Mental Health Care</option>
                <option value='military_industry'>Military Industry</option>
                <option value='mining/metals'>Mining/Metals</option>
                <option value='motion_pictures/film'>Motion Pictures/Film</option>
                <option value='museums/institutions'>Museums/Institutions</option>
                <option value='music'>Music</option>
                <option value='nanotechnology'>Nanotechnology</option>
                <option value='newspapers/journalism'>Newspapers/Journalism</option>
                <option value='non-profit/volunteering'>Non-Profit/Volunteering</option>
                <option value='oil/energy/solar/greentech'>Oil/Energy/Solar/Greentech</option>
                <option value='online_publishing'>Online Publishing</option>
                <option value='other_industry'>Other Industry</option>
                <option value='outsourcing/offshoring'>Outsourcing/Offshoring</option>
                <option value='package/freight_delivery'>Package/Freight Delivery</option>
                <option value='packaging/containers'>Packaging/Containers</option>
                <option value='paper/forest_products'>Paper/Forest Products</option>
                <option value='performing_arts'>Performing Arts</option>
                <option value='pharmaceuticals'>Pharmaceuticals</option>
                <option value='philanthropy'>Philanthropy</option>
                <option value='photography'>Photography</option>
                <option value='plastics'>Plastics</option>
                <option value='political_organization'>Political Organization</option>
                <option value='primary/secondary_education'>Primary/Secondary Education</option>
                <option value='printing'>Printing</option>
                <option value='professional_training'>Professional Training</option>
                <option value='program_development'>Program Development</option>
                <option value='public_relations/pr'>Public Relations/PR</option>
                <option value='public_safety'>Public Safety</option>
                <option value='publishing_industry'>Publishing Industry</option>
                <option value='railroad_manufacture'>Railroad Manufacture</option>
                <option value='ranching'>Ranching</option>
                <option value='real_estate/mortgage'>Real Estate/Mortgage</option>
                <option value='recreational_facilities/services'>Recreational Facilities/Services</option>
                <option value='religious_institutions'>Religious Institutions</option>
                <option value='renewables/environment'>Renewables/Environment</option>
                <option value='research_industry'>Research Industry</option>
                <option value='restaurants'>Restaurants</option>
                <option value='retail_industry'>Retail Industry</option>
                <option value='security/investigations'>Security/Investigations</option>
                <option value='semiconductors'>Semiconductors</option>
                <option value='shipbuilding'>Shipbuilding</option>
                <option value='sporting_goods'>Sporting Goods</option>
                <option value='sports'>Sports</option>
                <option value='staffing/recruiting'>Staffing/Recruiting</option>
                <option value='supermarkets'>Supermarkets</option>
                <option value='telecommunications'>Telecommunications</option>
                <option value='textiles'>Textiles</option>
                <option value='think_tanks'>Think Tanks</option>
                <option value='tobacco'>Tobacco</option>
                <option value='translation/localization'>Translation/Localization</option>
                <option value='transportation'>Transportation</option>
                <option value='utilities'>Utilities</option>
                <option value='venture_capital/vc'>Venture Capital/VC</option>
                <option value='veterinary'>Veterinary</option>
                <option value='warehousing'>Warehousing</option>
                <option value='wholesale'>Wholesale</option>
                <option value='wine/spirits'>Wine/Spirits</option>
                <option value='wireless'>Wireless</option>
                <option value='writing/editing'>Writing/Editing</option>
                </select>
                <br><br/>
                <br><br/>
                <label for="backgroundImage" style = "width:25%; padding-left:5px; padding-right:20px; color:lightgrey; font-family:'Optima', sans-serif;font-size:medium; opacity:0.5" value="Background Image"> Upload a Logo/Company Photo</label>
                <input type="file" id="offer_imagepath" text="{{ $offer_imagepath }}" style="width:100%;border:2px solid lightgrey; background-color: transparent; width:32%; padding:10px;color:lightgrey">
                <br></br>
                <select type="text" id="location" name="location" placeholder="Location" style="border:0;border-bottom: 2px solid lightgrey; background-color: transparent; width:51%; opacity:0.5;padding:10px;color:white; font-family: 'Optima', sans-serif; font-size:medium; margin-top:20px;border:white 2px solid;color:medium"/>
                    <option value="" disabled selected>Location</option>
                    <option value='afghanistan'>Afghanistan</option>
                    <option value='albania'>Albania</option>
                    <option value='algeria'>Algeria</option>
                    <option value='andorra'>Andorra</option>
                    <option value='angola'>Angola</option>
                    <option value='antigua_and_barbuda'>Antigua and Barbuda</option>
                    <option value='argentina'>Argentina</option>
                    <option value='armenia'>Armenia</option>
                    <option value='australia'>Australia</option>
                    <option value='austria'>Austria</option>
                    <option value='azerbaijan'>Azerbaijan</option>
                    <option value='bahamas'>Bahamas</option>
                    <option value='bahrain'>Bahrain</option>
                    <option value='bangladesh'>Bangladesh</option>
                    <option value='barbados'>Barbados</option>
                    <option value='belarus'>Belarus</option>
                    <option value='belgium'>Belgium</option>
                    <option value='belize'>Belize</option>
                    <option value='benin'>Benin</option>
                    <option value='bhutan'>Bhutan</option>
                    <option value='bolivia'>Bolivia</option>
                    <option value='bosnia_and_herzegovina'>Bosnia and Herzegovina</option>
                    <option value='botswana'>Botswana</option>
                    <option value='brazil'>Brazil</option>
                    <option value='brunei'>Brunei</option>
                    <option value='bulgaria'>Bulgaria</option>
                    <option value='burkina_faso'>Burkina Faso</option>
                    <option value='burundi'>Burundi</option>
                    <option value='cabo_verde'>Cabo Verde</option>
                    <option value='cambodia'>Cambodia</option>
                    <option value='cameroon'>Cameroon</option>
                    <option value='canada'>Canada</option>
                    <option value='central_african_republic_(car)'>Central African Republic (CAR)</option>
                    <option value='chad'>Chad</option>
                    <option value='chile'>Chile</option>
                    <option value='china'>China</option>
                    <option value='colombia'>Colombia</option>
                    <option value='comoros'>Comoros</option>
                    <option value='congo'>Congo</option>
                    <option value='congo'>Congo</option>
                    <option value='costa_rica'>Costa Rica</option>
                    <option value='cote_d'ivoire'>Cote d'Ivoire</option>
                    <option value='croatia'>Croatia</option>
                    <option value='cuba'>Cuba</option>
                    <option value='cyprus'>Cyprus</option>
                    <option value='czechia'>Czechia</option>
                    <option value='denmark'>Denmark</option>
                    <option value='djibouti'>Djibouti</option>
                    <option value='dominica'>Dominica</option>
                    <option value='dominican_republic'>Dominican Republic</option>
                    <option value='ecuador'>Ecuador</option>
                    <option value='egypt'>Egypt</option>
                    <option value='el_salvador'>El Salvador</option>
                    <option value='equatorial_guinea'>Equatorial Guinea</option>
                    <option value='eritrea'>Eritrea</option>
                    <option value='estonia'>Estonia</option>
                    <option value='eswatini'>Eswatini</option>
                    <option value='ethiopia'>Ethiopia</option>
                    <option value='fiji'>Fiji</option>
                    <option value='finland'>Finland</option>
                    <option value='france'>France</option>
                    <option value='gabon'>Gabon</option>
                    <option value='gambia'>Gambia</option>
                    <option value='georgia'>Georgia</option>
                    <option value='germany'>Germany</option>
                    <option value='ghana'>Ghana</option>
                    <option value='greece'>Greece</option>
                    <option value='grenada'>Grenada</option>
                    <option value='guatemala'>Guatemala</option>
                    <option value='guinea'>Guinea</option>
                    <option value='guinea-bissau'>Guinea-Bissau</option>
                    <option value='guyana'>Guyana</option>
                    <option value='haiti'>Haiti</option>
                    <option value='honduras'>Honduras</option>
                    <option value='hungary'>Hungary</option>
                    <option value='iceland'>Iceland</option>
                    <option value='india'>India</option>
                    <option value='indonesia'>Indonesia</option>
                    <option value='iran'>Iran</option>
                    <option value='iraq'>Iraq</option>
                    <option value='ireland'>Ireland</option>
                    <option value='israel'>Israel</option>
                    <option value='italy'>Italy</option>
                    <option value='jamaica'>Jamaica</option>
                    <option value='japan'>Japan</option>
                    <option value='jordan'>Jordan</option>
                    <option value='kazakhstan'>Kazakhstan</option>
                    <option value='kenya'>Kenya</option>
                    <option value='kiribati'>Kiribati</option>
                    <option value='kosovo'>Kosovo</option>
                    <option value='kuwait'>Kuwait</option>
                    <option value='kyrgyzstan'>Kyrgyzstan</option>
                    <option value='laos'>Laos</option>
                    <option value='latvia'>Latvia</option>
                    <option value='lebanon'>Lebanon</option>
                    <option value='lesotho'>Lesotho</option>
                    <option value='liberia'>Liberia</option>
                    <option value='libya'>Libya</option>
                    <option value='liechtenstein'>Liechtenstein</option>
                    <option value='lithuania'>Lithuania</option>
                    <option value='luxembourg'>Luxembourg</option>
                    <option value='madagascar'>Madagascar</option>
                    <option value='malawi'>Malawi</option>
                    <option value='malaysia'>Malaysia</option>
                    <option value='maldives'>Maldives</option>
                    <option value='mali'>Mali</option>
                    <option value='malta'>Malta</option>
                    <option value='marshall_islands'>Marshall Islands</option>
                    <option value='mauritania'>Mauritania</option>
                    <option value='mauritius'>Mauritius</option>
                    <option value='mexico'>Mexico</option>
                    <option value='micronesia'>Micronesia</option>
                    <option value='moldova'>Moldova</option>
                    <option value='monaco'>Monaco</option>
                    <option value='mongolia'>Mongolia</option>
                    <option value='montenegro'>Montenegro</option>
                    <option value='morocco'>Morocco</option>
                    <option value='mozambique'>Mozambique</option>
                    <option value='myanmar'>Myanmar</option>
                    <option value='namibia'>Namibia</option>
                    <option value='nauru'>Nauru</option>
                    <option value='nepal'>Nepal</option>
                    <option value='netherlands'>Netherlands</option>
                    <option value='new_zealand'>New Zealand</option>
                    <option value='nicaragua'>Nicaragua</option>
                    <option value='niger'>Niger</option>
                    <option value='nigeria'>Nigeria</option>
                    <option value='north_korea'>North Korea</option>
                    <option value='north_macedonia'>North Macedonia</option>
                    <option value='norway'>Norway</option>
                    <option value='oman'>Oman</option>
                    <option value='pakistan'>Pakistan</option>
                    <option value='palau'>Palau</option>
                    <option value='palestine'>Palestine</option>
                    <option value='panama'>Panama</option>
                    <option value='papua_new_guinea'>Papua New Guinea</option>
                    <option value='paraguay'>Paraguay</option>
                    <option value='peru'>Peru</option>
                    <option value='philippines'>Philippines</option>
                    <option value='poland'>Poland</option>
                    <option value='portugal'>Portugal</option>
                    <option value='qatar'>Qatar</option>
                    <option value='romania'>Romania</option>
                    <option value='russia'>Russia</option>
                    <option value='rwanda'>Rwanda</option>
                    <option value='saint_kitts_and_nevis'>Saint Kitts and Nevis</option>
                    <option value='saint_lucia'>Saint Lucia</option>
                    <option value='saint_vincent_and_the_grenadines'>Saint Vincent and the Grenadines</option>
                    <option value='samoa'>Samoa</option>
                    <option value='san_marino'>San Marino</option>
                    <option value='sao_tome_and_principe'>Sao Tome and Principe</option>
                    <option value='saudi_arabia'>Saudi Arabia</option>
                    <option value='senegal'>Senegal</option>
                    <option value='serbia'>Serbia</option>
                    <option value='seychelles'>Seychelles</option>
                    <option value='sierra_leone'>Sierra Leone</option>
                    <option value='singapore'>Singapore</option>
                    <option value='slovakia'>Slovakia</option>
                    <option value='slovenia'>Slovenia</option>
                    <option value='solomon_islands'>Solomon Islands</option>
                    <option value='somalia'>Somalia</option>
                    <option value='south_africa'>South Africa</option>
                    <option value='south_korea'>South Korea</option>
                    <option value='south_sudan'>South Sudan</option>
                    <option value='spain'>Spain</option>
                    <option value='sri_lanka'>Sri Lanka</option>
                    <option value='sudan'>Sudan</option>
                    <option value='suriname'>Suriname</option>
                    <option value='sweden'>Sweden</option>
                    <option value='switzerland'>Switzerland</option>
                    <option value='syria'>Syria</option>
                    <option value='taiwan'>Taiwan</option>
                    <option value='tajikistan'>Tajikistan</option>
                    <option value='tanzania'>Tanzania</option>
                    <option value='thailand'>Thailand</option>
                    <option value='timor-leste'>Timor-Leste</option>
                    <option value='togo'>Togo</option>
                    <option value='tonga'>Tonga</option>
                    <option value='trinidad_and_tobago'>Trinidad and Tobago</option>
                    <option value='tunisia'>Tunisia</option>
                    <option value='turkey'>Turkey</option>
                    <option value='turkmenistan'>Turkmenistan</option>
                    <option value='tuvalu'>Tuvalu</option>
                    <option value='uganda'>Uganda</option>
                    <option value='ukraine'>Ukraine</option>
                    <option value='united_arab_emirates_'>United Arab Emirates </option>
                    <option value='united_kingdom_'>United Kingdom </option>
                    <option value='united_states_of_america_'>United States of America </option>
                    <option value='uruguay'>Uruguay</option>
                    <option value='uzbekistan'>Uzbekistan</option>
                    <option value='vanuatu'>Vanuatu</option>
                    <option value='vatican_city_'>Vatican City </option>
                    <option value='venezuela'>Venezuela</option>
                    <option value='vietnam'>Vietnam</option>
                    <option value='yemen'>Yemen</option>
                    <option value='zambia'>Zambia</option>
                    <option value='zimbabwe'>Zimbabwe</option>
                </select>
                <br/><br/>
                <input type="password" id="password1" name="password1" placeholder="Enter Password" style="border:0;border-bottom: 2px solid lightgrey; background-color: transparent; font-family: 'Optima', sans-serif; font-size:medium;width:50%; padding:10px;color:white; display:inline"/>
                <br/><br/>
                <input type="password" id="password2" name="password2" placeholder="Reenter Password" style="border:0;border-bottom: 2px solid lightgrey; background-color: transparent; width:50%; font-family: 'Optima', sans-serif; font-size:medium; padding:10px;color:white; display:inline"/>
                <br/><br/>
                <input type="text" id="companyblurb" name="companyblurb" placeholder="Enter a Description of your company" style="border:0;border-bottom: 2px solid lightgrey; background-color: transparent; width:50%; height:15%; padding:10px;color:white; font-family: 'Optima', sans-serif; font-size:medium; margin-top:20px;border:white 2px solid;color:white"/>
                <br/><br/>
                <input type="text" id="name" name="name" placeholder="Name" style="border:0;border-bottom: 2px solid lightgrey; background-color: transparent; font-family: 'Optima', sans-serif; font-size:medium; width:25%; padding:10px;color:white; display:inline"/>
                <input type="text" id="email" name="email" placeholder="Email" style="border:0;border-bottom: 2px solid lightgrey; background-color: transparent; width:25%; font-family: 'Optima', sans-serif; font-size:medium; padding:10px;color:white; display:inline"/>
            
            <div style="width:150%; display: flex; flex-direction:row; flex-wrap:wrap" id="hello">

                        <script>
                        $(document).ready(function(){
                            {%for question in questions %}
                                var keycode_found = $.ajax({type: "GET", url: "/getKeyCode/" + "{{$question->id}}", async: false}).responseText;
                                //$.get('/getKeyCode/' + "{{$question->id}}").responseText;
                                var openEnderContent = "<button style=\" height: 20px; width:60px \" onclick=\"clickCode(" + "{{question.id"}} +  "\">" + keycode_found + " </button>"
                                $("#hello").append(openEnderContent);
                            {% endfor %}
                            });

                            function clickCode(){
                                
                            }
                        </script>
        </div> 
                <input type="text" id="linkedin" name="linkedin" placeholder="Link your Linkedin account" style="border:0;border-bottom: 2px solid lightgrey; background-color: transparent; width:50%; padding:10px;color:white; font-family: 'Optima', sans-serif; font-size:medium; margin-top:20px;border:white 2px solid;color:white"/>
                <br/><br/>
                <input type="text" id="instagram" name="instagram" placeholder="Link your Instagram account" style="border:0;border-bottom: 2px solid lightgrey; background-color: transparent; width:50%; padding:10px;color:white; font-family: 'Optima', sans-serif; font-size:medium; margin-top:20px;border:white 2px solid;color:white"/>
                <br/><br/>
                <input type="text" id="facebook" name="facebook" placeholder="Link your Facebook account" style="border:0;border-bottom: 2px solid lightgrey; background-color: transparent; width:50%; padding:10px;color:white; font-family: 'Optima', sans-serif; font-size:medium; margin-top:20px;border:white 2px solid;color:white"/>
                <br/><br/>
                <input type="text" id="twitter" name="twitter" placeholder="Link your Twitter Account" style="border:0;border-bottom: 2px solid lightgrey; background-color: transparent; width:50%; padding:10px;color:white; font-family: 'Optima', sans-serif; font-size:medium; margin-top:20px;border:white 2px solid;color:white"/>
                <br
/><br/>

                <br/>
            </div>
            <div style = "text-align:center">
                <input type="checkbox" id="termsandconds" name="termsandconds">
                <label for="termsandconds" style="font-family:'Optima',sans-serif; font-size:medium; color:white""> I agree to the terms and conditions</label>
                <br></br>
                <button type="button" style = "font-family:'Optima',sans-serif">Submit</button>

            </div>
        </div>
    

</body>
<br/>



<script src="js/jquery-2.2.3.js "></script>
<script src="js/bootstrap.js "></script>
<script src="js/custom.js "></script>

<script src="js/bs_leftnavi.js "></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js "></script>

<link href="css/animate.min.css " rel="stylesheet">
<!--For Number Counter Animation -->
<script src="js/waypoints.min.js "></script>
<script src="js/jquery.counterup.min.js "></script>
<script>
    jQuery(document).ready(function ($) {
        $('.counter').counterUp({
            delay: 50,
            time: 1600
        });
        $('[title]').tooltip('enable');
    });
</script>
<!--For sliding divs animation on webpage scrolling -->

<script src="js/wow.js "></script>
<script src="js/jquery.rwdImageMaps.min.js "></script>
<script>$('static/img[usemap]').rwdImageMaps();</script>
</footer>

</html>
