<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Identity Wallet</title>
    <meta name="description"
        content="Identity wallet secures your data autonomy while providing identity storage and retrieval services.">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico ">
    <link rel="canonical" href="http://www.identity-wallet.com">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css " rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/bs_leftnavi.css ">
    <link href="fonts/font-awesome/css/font-awesome.css " rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/jquery.mCustomScrollbar.css">
    <link href="css/master.1.6.css " rel="stylesheet">
    <link rel="stylesheet" href="css/media.1.2.css">
    <meta name="google-site-verification" content="P_hRPzLmP84EJrZaVwdBhGDvVR02nk7SsRGAEpYY9Fo" />
    <!--[if lt IE 9]>
<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    <!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<![endif]-->
    <!--[if lte IE 7]>
<html class="ie7"> <![endif]-->
    <!--[if IE 8]>
<html class="ie8"> <![endif]-->
    <!--[if IE 9]>
<html class="ie9"> <![endif]-->
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

    <!-- Global site tag (gtag.js) - Google Ads: 753858610 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-753858610"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'AW-753858610');
    </script>
</head>
<style>
    #background{
        background-image:url("../images/newlogin.jpg");
        background-attachment: scroll;
    }
</style>

<body class="homepage-body" id="background">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132533839-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-132533839-1');
    </script>


    <!--<script>-->
    <!--  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){-->
    <!--  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),-->
    <!--  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)-->
    <!--  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');-->
    <!---->
    <!--  ga('create', 'UA-100391813-1', 'auto');-->
    <!--  ga('send', 'pageview');-->
    <!---->
    <!--</script>-->

<nav class="navbar nav-text-white">
    <div class="container" style="border-radius:0px;display:flex; flex-direction: row; width:100%; background-color:#00c2cb; height:70px">
        <!-- Brand and toggle get groupe for better mobile display -->
        <div style="display:flex;" style="border-radius:0px;">
            <img style="width:100%; height:100%; src="../images/investmeet.png">
            <p style="color:#042444;position:relative;top:-10px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:x-large;left:60px;flex-grow:1; opacity:100%;font-size:30px;padding-right:30px">InvestMeet</p>
        </div>
        <div class="collapse navbar-collapse" id="topnavbar" style="position:relative;top:8px;">
            <ul style = "display:flex; flex-direction: row; justify-content: left;  list-style: none;">
                <li class="active"><a href="index.html" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:#042444; font-size: 25px; padding-right:10px; padding-left:10px; padding-top:3px; padding-bottom:2px; text-decoration:none">Home <span class="sr-only"></span></a></li>
                        <li><a href="company_marketplace.html" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:#042444; font-size: 25px;padding:10px; text-decoration:none">Companies</a></li>
                        <li><a href="investors_marketplace.html" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:#042444; font-size: 25px;padding:10px; text-decoration:none">Investors</a></li>
                        <li><a href="company_rankings.html" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:#042444; font-size: 25px; padding-right:10px; padding-left:10px; padding-right:10px; padding-left:10px;padding-top:3px;padding-bottom:2px; text-decoration:none;background-color: white; border-radius:15px; text-decoration:none">Compare</a></li>
                        <li><a href="investor_dashboard.html"><img src="../images/loggedin.png" style="position:relative; left:660px; top:-10px; width:100px; height:50px"></a></li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


    <div style="background-color:#042444; position:relative; top:20px">
        <div style="width:100%;height:100%;">
            <div style="background-color:#042444; float:left; width:43%; height:100%; position: relative; top:0px; left:5% ">
                <div style = "text-align: center; position: relative; top:20px">
                    <h3 style = "color:white; font-family:'Optima', sans-serif; font-size: xx-large"> Genki Sushi </h3>
                    <img style="height:25%; width:25%; position: relative" src="../images/genki.png"/>
                    <br> </br>
                    <br> </br>
                    <div style = "background-color:grey; width: 80%; margin:auto; display:flex; flex-direction: column">
                        <p style = "padding-top:10px; color:white; font-family:'Optima', sans-serif; font-weight: bold; font-size:x-large; text-align:center; margin:0">Industry</p>
                        <p style = "color:white; font-family:'Optima', sans-serif; font-size:medium; margin:0; padding-top: 5px; padding-bottom:10px">Food and Beverage (same as compared company)</p>
                    </div>
                    <br></br>
                    <div style = "background-color:grey; width: 80%; margin:auto; display:flex; flex-direction: column">
                        <p style = "padding-top:10px; color:white; font-family:'Optima', sans-serif; font-weight: bold; font-size:x-large; text-align:center; margin:0">Keywords</p>
                        <p style = "color:white; font-family:'Optima', sans-serif; font-size:medium; margin:0; padding-top: 5px; padding-bottom:10px">Food and Beverage (fewer tags than compared company)</p>
                    </div>
                    <br></br>

                    <div style = "background-color:grey; width: 80%; margin:auto; display:flex; flex-direction: column">
                        <p style = "padding-top:10px; color:white; font-family:'Optima', sans-serif; font-weight: bold; font-size:x-large; text-align:center; margin:0">Revenue Range</p>
                        <p style = "color:white; font-family:'Optima', sans-serif; font-size:medium; margin:0; padding-top: 5px; padding-bottom:10px">1-2 Million dollars/year (less revenue than compared company</p>
                    </div>
                    <br></br>
                    <div style = "background-color:grey; width: 80%; margin:auto; display:flex; flex-direction: column">
                        <p style = "padding-top:10px; color:white; font-family:'Optima', sans-serif; font-weight: bold; font-size:x-large; text-align:center; margin:0">Number of Investors</p>
                        <p style = "color:white; font-family:'Optima', sans-serif; font-size:medium; margin:0; padding-top: 5px; padding-bottom:10px">3 (fewer investors than comapared company)</p>
                    </div>
                    <br></br>
                    <br></br>

                </div>
            </div>
            <div style="background-color:grey; float:right; width:43%;height:100%; top: 0px; position:relative; right: 5%">
                <div style = "text-align: center; position: relative; top:20px">
                    <h3 style = "color:white; font-family:'Optima', sans-serif; font-size: xx-large"> McDonalds </h3>
                    <img style="height:28%; width:28%; position: relative" src="../images/mcdonaldss.png"/>
                    <br> </br>
                    <br> </br>
                    <div style = "background-color:#042444; width: 80%; margin:auto; display:flex; flex-direction: column">
                        <p style = "padding-top:10px; color:white; font-family:'Optima', sans-serif; font-weight: bold; font-size:x-large; text-align:center; margin:0">Industry</p>
                        <p style = "color:white; font-family:'Optima', sans-serif; font-size:medium; margin:0; padding-top: 5px; padding-bottom:10px">Food and Beverage</p>
                    </div>
                    <br></br>
                    <div style = "background-color:#042444; width: 80%; margin:auto; display:flex; flex-direction: column">
                        <p style = "padding-top:10px; color:white; font-family:'Optima', sans-serif; font-weight: bold; font-size:x-large; text-align:center; margin:0">Keywords</p>
                        <p style = "color:white; font-family:'Optima', sans-serif; font-size:medium; margin:0; padding-top: 5px; padding-bottom:10px">Food and Beverage, Clothing, Lifestyle</p>
                    </div>
                    <br></br>

                    <div style = "background-color:#042444; width: 80%; margin:auto; display:flex; flex-direction: column">
                        <p style = "padding-top:10px; color:white; font-family:'Optima', sans-serif; font-weight: bold; font-size:x-large; text-align:center; margin:0">Revenue Range</p>
                        <p style = "color:white; font-family:'Optima', sans-serif; font-size:medium; margin:0; padding-top: 5px; padding-bottom:10px">20-30 Billion dollars/year</p>
                    </div>
                    <br></br>

                    <div style = "background-color:#042444; width: 80%; margin:auto; display:flex; flex-direction: column">
                        <p style = "padding-top:10px; color:white; font-family:'Optima', sans-serif; font-weight: bold; font-size:x-large; text-align:center; margin:0">Number of Investors</p>
                        <p style = "color:white; font-family:'Optima', sans-serif; font-size:medium; margin:0; padding-top: 5px; padding-bottom:10px">>100</p>
                    </div>
                    <br></br>
                    <br></br>
                </div>
            </div>
        </div>
    </div>
</body>
<br/>



<script src="js/jquery-2.2.3.js "></script>
<script src="js/bootstrap.js "></script>
<script src="js/custom.js "></script>

<script src="js/bs_leftnavi.js "></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js "></script>

<link href="css/animate.min.css " rel="stylesheet">
<!--For Number Counter Animation -->
<script src="js/waypoints.min.js "></script>
<script src="js/jquery.counterup.min.js "></script>
<script>
    jQuery(document).ready(function ($) {
        $('.counter').counterUp({
            delay: 50,
            time: 1600
        });
        $('[title]').tooltip('enable');
    });
</script>
<!--For sliding divs animation on webpage scrolling -->

<script src="js/wow.js "></script>
<script src="js/jquery.rwdImageMaps.min.js "></script>
<script>$('static/img[usemap]').rwdImageMaps();</script>
</footer>

</html>
