<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Identity Wallet</title>
    <meta name="description"
        content="Identity wallet secures your data autonomy while providing identity storage and retrieval services.">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico ">
    <link rel="canonical" href="http://www.identity-wallet.com">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css " rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/bs_leftnavi.css ">
    <link href="fonts/font-awesome/css/font-awesome.css " rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/jquery.mCustomScrollbar.css">
    <link href="css/master.1.6.css " rel="stylesheet">
    <link rel="stylesheet" href="css/media.1.2.css">
    <meta name="google-site-verification" content="P_hRPzLmP84EJrZaVwdBhGDvVR02nk7SsRGAEpYY9Fo" />
    <!--[if lt IE 9]>
<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    <!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<![endif]-->
    <!--[if lte IE 7]>
<html class="ie7"> <![endif]-->
    <!--[if IE 8]>
<html class="ie8"> <![endif]-->
    <!--[if IE 9]>
<html class="ie9"> <![endif]-->
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

    <!-- Global site tag (gtag.js) - Google Ads: 753858610 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-753858610"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'AW-753858610');
    </script>
</head>
<style>
    #background{
    
        background-color: white;
    }
</style>

<body class="homepage-body" id="background">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132533839-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-132533839-1');
    </script>


    <!--<script>-->
    <!--  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){-->
    <!--  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),-->
    <!--  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)-->
    <!--  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');-->
    <!---->
    <!--  ga('create', 'UA-100391813-1', 'auto');-->
    <!--  ga('send', 'pageview');-->
    <!---->
    <!--</script>-->

<nav class="navbar nav-text-white">
    <div class="container" style="border-radius:0px;display:flex; flex-direction: row; width:100%; background-color:#00c2cb; height:70px">
        <!-- Brand and toggle get groupe for better mobile display -->
        <div style="display:flex;" style="border-radius:0px;">
            <img style="width:100%; height:100%; src="../images/investmeet.png">
            <p style="color:#042444;position:relative;top:-10px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:x-large;left:60px;flex-grow:1; opacity:100%;font-size:30px;padding-right:30px">InvestMeet</p>
        </div>
        <div class="collapse navbar-collapse" id="topnavbar" style="position:relative;top:8px;">
            <ul style = "display:flex; flex-direction: row; justify-content: left;  list-style: none;">
                    <li ><a href="index.html" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:#042444; font-size: 25px; padding:10px; text-decoration:none">Home <span class="sr-only"></span></a></li>
                <li><a href="about_us.html" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:#042444; font-size: 25px;padding:10px; text-decoration:none;">About Us</a></li>
                <li><a href="company_marketplace.html" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:#042444; font-size: 25px;padding:10px; text-decoration:none">Companies</a></li>
                <li><a href="investors_marketplace.html" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:#042444; font-size: 25px;padding:10px; text-decoration:none">Investors</a></li>
                <li><a href="company_compare.html" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:#042444; font-size: 25px;padding:10px; text-decoration:none">Compare</a></li>
                <li><a href="contact_us.html" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:#042444; font-size: 25px;padding-left:10px;padding-right:250px; text-decoration:none">Contact Us</a></li>
                <li><a href="signup_page.html" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:#042444; font-size: 25px;padding-right:10px; padding-left:10px;padding-top:3px;padding-bottom:2px;text-decoration:none; background-color: white; border-radius:15px">Sign Up</a></li>
                <li><a href="member_login.html" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:#042444; font-size: 25px;padding-left:20px; text-decoration:none">Log In</a></li>
                <!--<li><img src="../images/profile.png" alt="image not found" width="50%"></a></li>-->

            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

    <!-- to be fixed -->
    <script>
        var list_industries = JSON.parse($.ajax({type: "GET", url: "/list_industries/", async: false}).responseText);
        for (let i = 0; i < list_industries.length; i++) {
            var openEnderContent = "<option style=\"\">" + list_industries[i] +  "</option>"
        }
        $('#industry').html(openEnderContent);
        
    </script>

        
        <div style="width:100%;height:100%; top:40px;">
            <div style="text-align:center; padding-top:30px">
                <label>Contact Us</label>
            </div>
            <div style="position:relative; left:25%; top:50%; width:100%">
                <br></br>
                <input type="text" id="name" name="name" placeholder="Name" style="border:0;border-bottom: 2px solid lightgrey; background-color: transparent; width:20%; padding:10px;color:white; display:inline"/>
                <input type="text" id="email" name="email" placeholder="Email" style="border:0;border-bottom: 2px solid lightgrey; background-color: transparent; width:20%; padding:10px;color:white; display:inline"/>
                <br></br>
                <input type="text" id="message" name="message" placeholder="Enter your message here:" style="border:0;border-bottom: 2px solid lightgrey; background-color: transparent; width:50%; height:15%; padding:10px;color:white; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:larger; margin-top:20px;border:lightgrey 2px solid;color:#042444"/>
                <br/><br/>
            </div>
            
            <div style = "text-align:center">
                <button type="button">Submit</button>

            </div>
        </div>
    

</body>
<br/>



<script src="js/jquery-2.2.3.js "></script>
<script src="js/bootstrap.js "></script>
<script src="js/custom.js "></script>

<script src="js/bs_leftnavi.js "></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js "></script>

<link href="css/animate.min.css " rel="stylesheet">
<!--For Number Counter Animation -->
<script src="js/waypoints.min.js "></script>
<script src="js/jquery.counterup.min.js "></script>
<script>
    jQuery(document).ready(function ($) {
        $('.counter').counterUp({
            delay: 50,
            time: 1600
        });
        $('[title]').tooltip('enable');
    });
</script>
<!--For sliding divs animation on webpage scrolling -->

<script src="js/wow.js "></script>
<script src="js/jquery.rwdImageMaps.min.js "></script>
<script>$('static/img[usemap]').rwdImageMaps();</script>
</footer>

</html>
