<option value='accounting_'>Accounting </option>
<option value='airlines/aviation'>Airlines/Aviation</option>
<option value='alternative_dispute_resolution'>Alternative Dispute Resolution</option>
<option value='alternative_medicine'>Alternative Medicine</option>
<option value='animation'>Animation</option>
<option value='apparel/fashion'>Apparel/Fashion</option>
<option value='architecture/planning'>Architecture/Planning</option>
<option value='arts/crafts'>Arts/Crafts</option>
<option value='automotive'>Automotive</option>
<option value='aviation/aerospace'>Aviation/Aerospace</option>
<option value='banking/mortgage'>Banking/Mortgage</option>
<option value='biotechnology/greentech'>Biotechnology/Greentech</option>
<option value='broadcast_media'>Broadcast Media</option>
<option value='building_materials'>Building Materials</option>
<option value='business_supplies/equipment'>Business Supplies/Equipment</option>
<option value='capital_markets/hedge_fund/private_equity'>Capital Markets/Hedge Fund/Private Equity</option>
<option value='chemicals'>Chemicals</option>
<option value='civic/social_organization'>Civic/Social Organization</option>
<option value='civil_engineering'>Civil Engineering</option>
<option value='commercial_real_estate'>Commercial Real Estate</option>
<option value='computer_games'>Computer Games</option>
<option value='computer_hardware'>Computer Hardware</option>
<option value='computer_networking'>Computer Networking</option>
<option value='computer_software/engineering'>Computer Software/Engineering</option>
<option value='computer/network_security'>Computer/Network Security</option>
<option value='construction'>Construction</option>
<option value='consumer_electronics'>Consumer Electronics</option>
<option value='consumer_goods'>Consumer Goods</option>
<option value='consumer_services'>Consumer Services</option>
<option value='cosmetics'>Cosmetics</option>
<option value='dairy'>Dairy</option>
<option value='defense/space'>Defense/Space</option>
<option value='design'>Design</option>
<option value='e-learning'>E-Learning</option>
<option value='education_management'>Education Management</option>
<option value='electrical/electronic_manufacturing'>Electrical/Electronic Manufacturing</option>
<option value='entertainment/movie_production'>Entertainment/Movie Production</option>
<option value='environmental_services'>Environmental Services</option>
<option value='events_services'>Events Services</option>
<option value='executive_office'>Executive Office</option>
<option value='facilities_services'>Facilities Services</option>
<option value='farming'>Farming</option>
<option value='financial_services'>Financial Services</option>
<option value='fine_art'>Fine Art</option>
<option value='fishery'>Fishery</option>
<option value='food_production'>Food Production</option>
<option value='food/beverages'>Food/Beverages</option>
<option value='fundraising'>Fundraising</option>
<option value='furniture'>Furniture</option>
<option value='gambling/casinos'>Gambling/Casinos</option>
<option value='glass/ceramics/concrete'>Glass/Ceramics/Concrete</option>
<option value='government_administration'>Government Administration</option>
<option value='government_relations'>Government Relations</option>
<option value='graphic_design/web_design'>Graphic Design/Web Design</option>
<option value='health/fitness'>Health/Fitness</option>
<option value='higher_education/acadamia'>Higher Education/Acadamia</option>
<option value='hospital/health_care'>Hospital/Health Care</option>
<option value='hospitality'>Hospitality</option>
<option value='human_resources/hr'>Human Resources/HR</option>
<option value='import/export'>Import/Export</option>
<option value='individual/family_services'>Individual/Family Services</option>
<option value='industrial_automation'>Industrial Automation</option>
<option value='information_services'>Information Services</option>
<option value='information_technology/it'>Information Technology/IT</option>
<option value='insurance'>Insurance</option>
<option value='international_affairs'>International Affairs</option>
<option value='international_trade/development'>International Trade/Development</option>
<option value='internet'>Internet</option>
<option value='investment_banking/venture'>Investment Banking/Venture</option>
<option value='investment_management/hedge_fund/private_equity'>Investment Management/Hedge Fund/Private Equity</option>
<option value='judiciary'>Judiciary</option>
<option value='law_enforcement'>Law Enforcement</option>
<option value='law_practice/law_firms'>Law Practice/Law Firms</option>
<option value='legal_services'>Legal Services</option>
<option value='legislative_office'>Legislative Office</option>
<option value='leisure/travel'>Leisure/Travel</option>
<option value='library'>Library</option>
<option value='logistics/procurement'>Logistics/Procurement</option>
<option value='luxury_goods/jewelry'>Luxury Goods/Jewelry</option>
<option value='machinery'>Machinery</option>
<option value='management_consulting'>Management Consulting</option>
<option value='maritime'>Maritime</option>
<option value='market_research'>Market Research</option>
<option value='marketing/advertising/sales'>Marketing/Advertising/Sales</option>
<option value='mechanical_or_industrial_engineering'>Mechanical or Industrial Engineering</option>
<option value='media_production'>Media Production</option>
<option value='medical_equipment'>Medical Equipment</option>
<option value='medical_practice'>Medical Practice</option>
<option value='mental_health_care'>Mental Health Care</option>
<option value='military_industry'>Military Industry</option>
<option value='mining/metals'>Mining/Metals</option>
<option value='motion_pictures/film'>Motion Pictures/Film</option>
<option value='museums/institutions'>Museums/Institutions</option>
<option value='music'>Music</option>
<option value='nanotechnology'>Nanotechnology</option>
<option value='newspapers/journalism'>Newspapers/Journalism</option>
<option value='non-profit/volunteering'>Non-Profit/Volunteering</option>
<option value='oil/energy/solar/greentech'>Oil/Energy/Solar/Greentech</option>
<option value='online_publishing'>Online Publishing</option>
<option value='other_industry'>Other Industry</option>
<option value='outsourcing/offshoring'>Outsourcing/Offshoring</option>
<option value='package/freight_delivery'>Package/Freight Delivery</option>
<option value='packaging/containers'>Packaging/Containers</option>
<option value='paper/forest_products'>Paper/Forest Products</option>
<option value='performing_arts'>Performing Arts</option>
<option value='pharmaceuticals'>Pharmaceuticals</option>
<option value='philanthropy'>Philanthropy</option>
<option value='photography'>Photography</option>
<option value='plastics'>Plastics</option>
<option value='political_organization'>Political Organization</option>
<option value='primary/secondary_education'>Primary/Secondary Education</option>
<option value='printing'>Printing</option>
<option value='professional_training'>Professional Training</option>
<option value='program_development'>Program Development</option>
<option value='public_relations/pr'>Public Relations/PR</option>
<option value='public_safety'>Public Safety</option>
<option value='publishing_industry'>Publishing Industry</option>
<option value='railroad_manufacture'>Railroad Manufacture</option>
<option value='ranching'>Ranching</option>
<option value='real_estate/mortgage'>Real Estate/Mortgage</option>
<option value='recreational_facilities/services'>Recreational Facilities/Services</option>
<option value='religious_institutions'>Religious Institutions</option>
<option value='renewables/environment'>Renewables/Environment</option>
<option value='research_industry'>Research Industry</option>
<option value='restaurants'>Restaurants</option>
<option value='retail_industry'>Retail Industry</option>
<option value='security/investigations'>Security/Investigations</option>
<option value='semiconductors'>Semiconductors</option>
<option value='shipbuilding'>Shipbuilding</option>
<option value='sporting_goods'>Sporting Goods</option>
<option value='sports'>Sports</option>
<option value='staffing/recruiting'>Staffing/Recruiting</option>
<option value='supermarkets'>Supermarkets</option>
<option value='telecommunications'>Telecommunications</option>
<option value='textiles'>Textiles</option>
<option value='think_tanks'>Think Tanks</option>
<option value='tobacco'>Tobacco</option>
<option value='translation/localization'>Translation/Localization</option>
<option value='transportation'>Transportation</option>
<option value='utilities'>Utilities</option>
<option value='venture_capital/vc'>Venture Capital/VC</option>
<option value='veterinary'>Veterinary</option>
<option value='warehousing'>Warehousing</option>
<option value='wholesale'>Wholesale</option>
<option value='wine/spirits'>Wine/Spirits</option>
<option value='wireless'>Wireless</option>
<option value='writing/editing'>Writing/Editing</option>