<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Identity Wallet</title>
    <meta name="description"
        content="Identity wallet secures your data autonomy while providing identity storage and retrieval services.">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico ">
    <link rel="canonical" href="http://www.identity-wallet.com">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css " rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/bs_leftnavi.css ">
    <link href="fonts/font-awesome/css/font-awesome.css " rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/jquery.mCustomScrollbar.css">
    <link href="css/master.1.6.css " rel="stylesheet">
    <link rel="stylesheet" href="css/media.1.2.css">
    <meta name="google-site-verification" content="P_hRPzLmP84EJrZaVwdBhGDvVR02nk7SsRGAEpYY9Fo" />
    <!--[if lt IE 9]>
<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    <!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<![endif]-->
    <!--[if lte IE 7]>
<html class="ie7"> <![endif]-->
    <!--[if IE 8]>
<html class="ie8"> <![endif]-->
    <!--[if IE 9]>
<html class="ie9"> <![endif]-->
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

    <!-- Global site tag (gtag.js) - Google Ads: 753858610 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-753858610"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'AW-753858610');
    </script>
</head>
<style>
    #background{
        background-image:url("../images/newlogin.jpg");
        background-attachment: scroll;
    }
</style>

<body class="homepage-body" id="background">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132533839-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-132533839-1');
    </script>


    <!--<script>-->
    <!--  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){-->
    <!--  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),-->
    <!--  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)-->
    <!--  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');-->
    <!---->
    <!--  ga('create', 'UA-100391813-1', 'auto');-->
    <!--  ga('send', 'pageview');-->
    <!---->
    <!--</script>-->

 <nav class="navbar nav-text-white">
    <div class="container" style="border-radius:0px;display:flex; flex-direction: row; width:100%; background-color:#00c2cb; height:70px">
        <!-- Brand and toggle get groupe for better mobile display -->
        <div style="display:flex;" style="border-radius:0px;">
            <img style="width:100%; height:100%; src="../images/investmeet.png">
            <p style="color:#042444;position:relative;top:-10px;font-family:'Optima', sans-serif;font-size:x-large;left:60px;flex-grow:1; opacity:100%;font-size:30px;padding-right:30px">InvestMeet</p>
        </div>
        <div class="collapse navbar-collapse" id="topnavbar" style="position:relative;top:8px;">
            <ul style = "display:flex; flex-direction: row; justify-content: left;  list-style: none;">
                 <li class="hello"><a href="index.html" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:#042444; font-size: 25px; padding-right:10px; padding-left:10px; padding-top:3px; padding-bottom:2px; text-decoration:none">Home <span class="sr-only"></span></a></li>
                        <li><a href="company_marketplace.html" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:#042444; font-size: 25px;padding:10px; text-decoration:none">Companies</a></li>
                        <li><a href="investors_marketplace.html" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:#042444; font-size: 25px;padding:10px; text-decoration:none">Investors</a></li>
                        <li><a href="company_rankings.html" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:#042444; font-size: 25px; padding-right:10px; padding-left:10px; text-decoration:none">Compare</a></li>
                        <li><a href="signup_page.html" style="text-align: right;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:#042444; font-size: 25px; position:relative; left: 550px; padding-right:10px; padding-left:10px;padding-top:3px;padding-bottom:2px;text-decoration:none; background-color: white; border-radius:15px">Sign Up</a></li>
                        <li><a href="member_login.html" style="text-align: right; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:#042444; font-size: 25px; position:relative; left: 560px;padding-right:10px; padding-left:10px;padding-top:3px;padding-bottom:2px;background-color: white; border-radius:15px; text-decoration:none">Log In</a></li>
                <!--<li><img src="../images/profile.png" alt="image not found" width="50%"></a></li>-->
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


    <div style="background-color:#042444; position:relative; top:150px">
        <div style="width:100%;height:100%;">
            <div style="float:left; width:50%; height:100%; position: relative; top:60px; ">
                <p style="margin:auto;display:block;width:50%;position:relative;top:40px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;padding:10%;font-size: xx-large;color:#042444;">Don't have an account yet?</p>
                <div style="position:relative;top:50%;right:35%">
                    <input type="submit" name="Submit" value="Sign Up" style="width:30%;padding:1%; background-color:white;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:larger; margin-top:30px;border:white 2px solid;color:#042444; float:right; border-color:#042444; border-width:3px; margin-left:10%">
                </div>
            </div>
            <div style="float:right; width:50%;height:100%; top: 10%; position:relative">
                <div class="container" style="margin:auto;width:60%; padding:40px; position:relative; top:20%; background-color:#042444;">
                    <div class="heading-section text-center" style="margin:auto;display:block;width:100%;text-align:center">
                        <h3 style="color:white; font-family:'Trebuchet MS', sans-serif;font-size:30px;">Company Login</h3>
                        <h6 style="color:white; font-family:'Trebuchet MS';font-size:20px">Enter your company's details below</h6>
                    </div>
                    <div>
                        <div>
                            
                            <div style="margin-left:auto;margin-right:auto;display:block;width:60%">
                                <input type="text" id="email" name="email" placeholder="email" style="border:0;border-bottom: 2px solid lightgrey; background-color: transparent; width:100%; padding:10px;color:white; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:larger; margin-top:10px;border:white 2px solid;color:white;"> <br/>
                                <input type="password" id="password" name="password" placeholder="password" style="border:0;border-bottom: 2px solid lightgrey; background-color: transparent; width:100%; padding:10px;color:white; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:larger; margin-top:10px;border:white 2px solid;color:white;"> <br/>
                                <input type="submit" name="Submit" value="Submit" onclick="window.location.href='company_marketplace.html';"  style="width:110%;padding:5%; background-color:white;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:larger; margin-top:10px;border:white 2px solid;color:#042444;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<br/>



<script src="js/jquery-2.2.3.js "></script>
<script src="js/bootstrap.js "></script>
<script src="js/custom.js "></script>

<script src="js/bs_leftnavi.js "></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js "></script>

<link href="css/animate.min.css " rel="stylesheet">
<!--For Number Counter Animation -->
<script src="js/waypoints.min.js "></script>
<script src="js/jquery.counterup.min.js "></script>
<script>
    jQuery(document).ready(function ($) {
        $('.counter').counterUp({
            delay: 50,
            time: 1600
        });
        $('[title]').tooltip('enable');
    });
</script>
<!--For sliding divs animation on webpage scrolling -->

<script src="js/wow.js "></script>
<script src="js/jquery.rwdImageMaps.min.js "></script>
<script>$('static/img[usemap]').rwdImageMaps();</script>
</footer>

</html>
